version: 2.1
jobs:
  test-cases:
    docker:
      - image: golang:latest
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: 'apt update && apt install nodejs npm -y'
      - run:
          name: Install sonarqube scanner
          command: 'npm install -g sonarqube-scanner'
      - run:
          name: run the test cases
          command: 'go test -cover -coverprofile=c.out'
      - run:
          name: Generate the test cases
          command: 'go tool cover -html=c.out -o coverage.html'
      - run:
          name: send test case to sonarcloud
          command: 'sonar-scanner'

workflows:
  version: 2
  build_and_test:
    jobs:
      - test-cases
